<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Todo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2295</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2856</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3604</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_App</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Auth</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_BCrypt</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CLibreSSL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cache</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cipher</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Console</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cookies</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Core</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CryptoSwift</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Essentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Fluent</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_FluentPostgreSQL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HMAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTPRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Hash</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JWT</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Jay</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Leaf</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Node</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PathIndexable</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Polymorphic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PostgreSQL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Random</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Routing</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SMTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Sessions</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Settings</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Socks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TLS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Transport</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Turnstile</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileCrypto</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileWeb</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TypeSafeRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_URI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Vapor</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_VaporPostgreSQL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_WebSockets</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_libc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
