<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Todo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2295</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2901</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3300</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
